<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Published:</strong>
  <%= yes_or_no(@user.published) %>
</p>

<p>
  <strong>Admin:</strong>
  <%= yes_or_no(@user.admin) %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
