<h1>Listing Submitted Games</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>User</th>
      <th>Status</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @submitted_games.each do |submitted_game| %>
      <tr>
        <td><%= submitted_game.title %></td>
        <td><%= submitted_game.user ? submitted_game.user.username : "None" %></td>
        <td><%= submitted_game.status %></td>
        <td><%= link_to 'Show', submitted_game %></td>
        <td><%= link_to 'Edit', edit_submitted_game_path(submitted_game) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Game', new_submitted_game_path %>
